* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    padding-top: 8vw;
    background-image: url("./assets/star\ uó\ topo.png");
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.kylo-ren-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 55vw;
    height: 28vw;
    margin: 0 auto;
}

.fig-star img {
    width: 18vw;
}
.fig-wars img {
    width: 19vw;
}
.fig-kylo-ren {
    position: absolute;
    right: 6vw;
}
.fig-kylo-ren img {
    width: 60vw;
}

.create-your-legion {
    color: black;
    position: absolute;
    width: 9.5vw;
    right: 18vw;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.create-your-legion p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4vw;
}
.create-your-legion span {
    font-weight: 800;
}
.line-your-legion {
    width: 100%;
    height: 0.15vw;
    margin: 1.2vw 0;
    background-color: black;
}

.date p {
    font-size: 1.4vw;
}
.date span {
    font-weight: 500;
    font-size: 2.4vw;
}

/*Iniciando a estilização da main*/

.about-the-game {
    width: 100%;
    background-image: url("./assets/sta\ uo\ robot.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.start-playing {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 19vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("./assets/strom\ trupe\ red.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 14vw;
    top: -3vw;
}
.card h2 {
    width: 8vw;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
.card p {
    text-align: left;
    font-size: 1vw;
    width: 16vw;
    opacity: 0.8;
}
.card button {
    background-color: transparent;
    border: 1.5px solid white;
    padding: 0.6vw 0;
    width: 9vw;
    text-align: center;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    border-radius: 3.5px;
    cursor: pointer;
}
.card button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.description {
    width: 45vw;
    height: 12vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 15vw;
    top: 10.5vw;
    font-family: Arial, Helvetica, sans-serif;
}
.description h2 {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.6vw;
}
.line-after-h2 {
    background-color: black;
    width: 10vw;
    height: 0.2vw;
    margin: 0.9vw 0 0.9vw auto;
}
.description p {
    text-align: right;
    font-size: 1.1vw;
}
.description img {
    width: 19vw;
}
.description .about {
    width: 25vw;
}

.line-division-between-div {
    width: 70.5%;
    height: 0.3vw;
    background-color: gray;
    margin: 2vw 14vw 0vw 14vw;
}

.game-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fig-lord-sifh {
    position: relative;
    bottom: -2.2vw;
    left: 5vw;
}
.fig-lord-sifh img{
    width: 40vw;
}
.fig-rey {
    position: relative;
    bottom: -3.5vw;
    right: 5vw;
}
.fig-rey img {
    width: 20vw;
}

.navi-struct {
    position: relative;
    right: 5vw;
}
.navi-struct h2{
    margin-left: auto;
    font-size: 2.5vw;
    width: 18vw;
    text-align: right;
    text-transform: uppercase;
}
.navi-struct span {
    font-weight: bolder;
}
.navi-struct ul {
    text-align: right;
    list-style: none;
}
.navi-struct a{
    text-decoration: none;
}
.navi-struct li {
    color: black;
    text-transform: uppercase;
    font-size: 1.2vw;
    margin-top: 1.2vw;
    padding: 0.3vw 0.5vw 0.2vw 0.5vw;
    transition: 0.2s all;
}
.navi-struct li:hover {
    color: white;
    background-color: #ff5a56;
}

.attributes {
    background-color: #2d2d2d;
    width: 100%;
    padding: 6vw 0 6vw 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pictures-of-attributes {
    width: 85vw;
    margin: 0 auto;
}

.title-attributes h2 {
    padding-left: 9vw;
    color: white;
    font-size: 1.8vw;
    text-transform: uppercase;
}

.grid-of-pictures {
    width: 100%;
    display: flex;
    margin: 3vw 0;
}
.second-box {
    display: flex;
}

.battle {
    background-image: url("./assets/134840-games-review-star-wars-battlefront-review-image1-NkRao9Jw12.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 42.75vw;
    height: 25vw;
}
.security {
    background-image: url("./assets/Security_stormtrooper_HUC2-FF-003301.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 21.15vw;
    height: 12.5vw;
}
.naves {
    background-image: url("./assets/naves\ em\ batalha\ star\ wars.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 21.15vw;
    height: 12.5vw;
}
.star-game {
    background-image: url("./assets/starGame.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 21.15vw;
    height: 12.5vw;
}
.strorm-trup {
    background-image: url("./assets/stormTrup.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 21.15vw;
    height: 12.5vw;
}

.battle div, .security div, .naves div, .star-game div, .strorm-trup div {
    padding: 1.2vw;
    color: white;
    height: 100%;
    background-image: linear-gradient(rgba(255,90,86,0.60), rgba(255,90,86,0.60));
    cursor: pointer;
    transition: 0.4s all;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
}
.battle div:hover, .security div:hover, .naves div:hover, .star-game div:hover, .strorm-trup div:hover {
    opacity: 1;
    transform: scale(1.02);
}
.battle h2, .security h2, .naves h2, .star-game h2, .strorm-trup h2 {
    width: 8vw;
    font-size: 1.6vw;
    text-transform: uppercase;
}
.battle p, .security p, .naves p, .star-game p, .strorm-trup p {
    width: 20vw;
    margin: 0.8vw 0 1.5vw 0;
    font-size: .9vw;
}
.battle button, .security button, .naves button, .star-game button, .strorm-trup button {
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 10vw;
    padding: 0.5vw 2vw;
    cursor: pointer;
    font-size: 1.2vw;
}
.main-box button:hover, .second-box button:hover {
    opacity: 0.8;
}

.hierarchy {
    width: 85vw;
    margin: 0 auto;
}
.hierarchy img {
    width: 100%;
    object-fit: cover;
}

.tittle-how-to-play {
    margin-top: 10vw;
    text-align: center;
}
.tittle-how-to-play h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2vw;
}

.fig-stortm-trooper{
    position: relative;
    top: -17vw;
}
.fig-stortm-trooper img {
    width: 22vw;
}

.box-how-to-play {
    width: 100%;
    height: 24vw;
    display: flex;
    justify-content: center;
}
.instructions {
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    height: 18vw;
    padding-top: 2vw;
}
.instructions h2 {
    text-align: center;
    font-weight: 100;
    font-size: 2.5vw;
}
.instructions .div-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 1.5vw;
    color: white;
    width: 10vw;
    height: 3vw;
    border: none;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}
.div-button h5 {
    font-size: 1.1vw;
    font-weight: 300;
    z-index: 1;
}
.div-background-button {
    width: 100%;
    height: 100%;
    background-color: #ff5a56;
    position: absolute;
    right: -10.5vw;
    transition: 1s all;
}
.div-button:hover .div-background-button{
    right: 0;
}
.instructions p {
    width: 7.5vw;
    margin: 1.5vw auto 0 auto;
    font-size: 0.9vw;
    text-align: center;
}
.line-after-instruction {
    width: 4.5vw;
    height: 0.2vw;
    margin: 1.5vw auto 0 auto;
    background-color: black;
}

.instructions button:hover {
    background-color: #ff5a56;
}
.instructions div:hover .line-after-instruction {
    background-color: #ff5a56;
}

/*Inicio da footer*/

footer {
    display: flex;
    height: 43vw;
}

.footer-content{
    width: 60vw;
    background-color: #ff5a56;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-content h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8vw;
    margin-bottom: 1vw;
}
.footer-content p {
    color: white;
    font-size: 1vw;
    opacity: 0.8;
}
.footer-content-box1, .footer-content-box2 {
    width: 30vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fig-darth-vader {
    position: relative;
    top: -7vw;
    right: 8vw;
}
.fig-darth-vader img {
    width: 38vw;
}
.fig-star-wars-footer img {
    width: 15vw;
}

.download {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fig-google-play img, .fig-app-store img {
    width: 14.5vw;
    object-fit: cover;
}

.line-division-footer {
    width: 30vw;
    height: 0.2vw;
    background-color: #d74430;
}
/*Início do @media*/

@media(max-width:800px){
    .start-playing {
        flex-direction: column;
        align-items: flex-end;
        padding: 10vw 18vw 0vw 0vw;
    }
    .card {
        position: initial;
        width: 35vw;
        height: 55vw;
    }
    .card h2 {
        width: 18vw;
        font-size: 4vw;
    }
    .card p {
        font-size: 2vw;
    }
    .card button {
        width: 18vw;
        font-size: 1.8vw;
    }
    .description {
        position: initial; 
        flex-direction: column-reverse;
        align-items:flex-end;
        width: 50vw;
        height: 45vw;
        margin-top: 2vw;
    }
    .description h2 {
        font-size: 3vw;
    }
    .line-after-h2 {
        width: 20vw;
        height: 0.3vw;
    }
    .description .about {
        width: 40vw;
    }
    .description p {
        font-size: 2vw;
    }
    .description img {
        width: 35vw;
    }
    .line-division-between-div {
        margin-top: 2vw;
        margin-left: 11vw;
        height: 0.5vw;
    }
    .about-the-game {
        background-image: none;
    }
    .start-playing {
        background-image: url("./assets/sta\ uo\ robot.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 48vw 85vw;
    }

    .navi-struct h2 {
        font-size: 3vw;
    }
    .navi-struct li {
        font-size: 1.8vw;
    }

    .grid-of-pictures {
        flex-direction: column;
    }
    .second-box {
        flex-direction: column;
    }
    .title-attributes h2 {
        font-size: 3vw;
        padding: 0;
        text-align: center;
    }
    .battle div, .security div, .naves div, .star-game div, .strorm-trup div {
        padding-left: 5vw;
    }
    .battle, .security, .naves, .star-game, .strorm-trup {
        width: 85vw;
        height: 50vw;
    }
    .battle h2, .security h2, .naves h2, .star-game h2, .strorm-trup h2 {
        font-size: 4vw;
    }
    .battle p, .security p, .naves p, .star-game p, .strorm-trup p {
        width: 50vw;
        font-size: 2.8vw;
    }
    .battle button, .security button, .naves button, .star-game button, .strorm-trup button {
        width: 20vw;
        font-size: 3vw;
    }
    .hierarchy {
        width: 100%;
    }

    .tittle-how-to-play h2 {
        width: 30vw;
        font-size: 3vw;
        margin-left: auto;
        margin-right: 15vw;
    }
    
    .fig-stortm-trooper{
        top: -15vw;
        left: -24vw;
    }   
    .fig-stortm-trooper img {
        width: 70vw;
    }
    .box-how-to-play {
        height: 90vw;
    }
    .instructions {
        position: relative;
        right: 16vw;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    .instructions div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .instructions h2 {
        font-size: 4vw;
    }
    .instructions .div-button {
        width: 30vw;
        height: 7vw;
        margin-top: 1vw;
    }
    .div-button h5 {
        font-size: 2.5vw;
    }
    .div-background-button {
        right: -30vw;
    }
    .instructions p {
        width: 20vw;
        font-size: 2.3vw;
        margin-top: 1vw;
    }
    .line-after-instruction {
        width: 10vw;
        height: 0.4vw;
        margin: 1vw auto 0 auto;
    }

    footer {
        flex-direction: column;
    }
    .footer-content {
        width: 100%;
        padding-top: 5vw;
        padding-bottom: 30vw;
    }
    .footer-content-box1, .footer-content-box2 {
        width: 54vw;
        height: 38vw;
        align-items: center;
    }
    .footer-content h2 {
        width: 100%;
        text-align: center;
        font-size: 8vw;
    }
    .footer-content p {
        width: 100%;
        font-size: 2.2vw;
    }

    .fig-google-play img, .fig-app-store img {
        width: 26.5vw;
        object-fit: cover;
    }
    
    .fig-star-wars-footer img {
        width: 25vw;
    }
    .line-division-footer {
        width: 54vw;
        height: 0.6vw;
    }
    .fig-darth-vader {
        width: 55vw;
        top: -30vw;
        left: 25vw;
    }
    .fig-darth-vader img {
        width: 55vw;
    }
}