* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 1900px;
    margin: 0 auto;
    width: 100%;
    padding-top: 8vw;
    background-image: url("./assets/star\ uó\ topo.png");
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.kylo-ren-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 55vw;
    height: 28vw;
    margin: 0 auto;
}

.fig-star img, .fig-wars img {
    width: 18vw;
}
.fig-kylo-ren {
    position: absolute;
    right: 5vw;
}
.fig-kylo-ren img {
    width: 60vw;
}

.create-your-legion {
    color: black;
    position: absolute;
    width: 9.5vw;
    right: 18vw;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.create-your-legion p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4vw;
}
.create-your-legion span {
    font-weight: 800;
}
.line-your-legion {
    width: 100%;
    height: 0.15vw;
    margin: 1.2vw 0;
    background-color: black;
}

.date p {
    font-size: 1.4vw;
}
.date span {
    font-weight: 500;
    font-size: 2.4vw;
}

/*Iniciando a estilização da main*/

.about-the-game {
    width: 100%;
}

.card {
    width: 19vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("./assets/strom\ trupe\ red.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 14vw;
    top: -3vw;
}
.card h2 {
    width: 8vw;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
.card p {
    text-align: left;
    font-size: 1vw;
    width: 16vw;
    opacity: 0.8;
}
.card button {
    background-color: transparent;
    border: 1.5px solid white;
    padding: 0.6vw 0;
    width: 9vw;
    text-align: center;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    border-radius: 3.5px;
    cursor: pointer;
}
.card button:hover {
    opacity: 0.8;
}